#Resume {
  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    overflow-y: scroll;

    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
