.projects {
  overflow: hidden;
  // background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .next {
    // background-color: #2e835b;
    position: absolute;
    right: 80px;
    bottom: 80px;
    // align-self: flex-end;
    // margin-right: 20px;
    // display: flex;
    // justify-content: center;
  }
  h1 {
    // color: #861f7f;
    color: #2e835b;
    margin: 5px;
    font-size: 40px;
    overflow: hidden;
  }

  ul {
    margin: 5px;
    margin-top: none;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: space-between;

    li {
      font-size: 18px;
      // margin: 10px 20px;
      padding: 10px 20px;
      // padding: 5px;
      // border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.active {
        background-color: #782981;
        color: white;
      }
    }

    li:hover {
      background-color: #782981;
    }
  }

  .wrapper {
    transition: all 0.3s ease-in-out;
    width: 1300px;
    position: relative;
    // background-color: red;
    top: 10px;
    height: max-content;
    overflow: hidden;
    display: flex;
    // flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    // padding: px;

    .projectsContainer {
      // overflow: hidden;
      // width: 100%;
      // display: flex;
      // // flex-wrap: wrap;
      // align-content: center;
      // justify-content: space-evenly;
      // padding: 15px;
      @media (max-width: 1024px){
        justify-content: center;
        width: 40%;
      }

      .carousel-item{
        @media (max-width: 1024px){
          width: inherit;
        }
      }

      .myCard {
        // background: rgb(55,13,139);
        background: #180d30;
        background-image: linear-gradient(to left,rgba(24, 13, 48, 0), rgba(39, 105, 75, 0.65) 100%);
        // background: linear-gradient(0deg, rgba(55,13,139,1) 47%, rgba(46,131,91,1) 100%);
        @media (max-width: 1024px){
          flex-direction: column-reverse;
        }
      }

      .myCard.odd{
        background-image: linear-gradient(to left,rgba(24, 13, 48, 0), rgba(94, 39, 105, 0.65) 100%);
      }

      .myStats{
        background-color: #370d8b;
        background-image: linear-gradient(
          to top right,
          rgba(17, 16, 16, 0.678),
          rgba(12, 10, 22, 0.863)
        );

        --tw-shadow: inset -1px -1px 3px 0 rgb(0, 0, 0);
        --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

      }

      .Swipy{
        background-color: wheat;
        display: flex;
        align-content: center;
        justify-content: center;
      }

      .projectCard {
        padding: 10px;
        position: relative;
        // padding: 15px 0;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        width: 280px;
        height: 455px;
        max-width: 280px;
        max-height: 455px;
        margin-bottom: 10px;

        .lamp {
          position: absolute;
          width: 120px;
          height: 68px;
          background-image: radial-gradient(
            ellipse,
            rgba(82, 116, 168, 0.5),
            rgba(82, 116, 168, 0.2) 25%,
            rgba(82, 116, 168, 0) 50%
          );
          top: 40vh;
          left: 98vh;
          transform: perspective(1px) rotateX(177deg);
        }
        .projectsSkills {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          overflow: hidden;
          // background-color: green;
          margin-bottom: 5px;

          img {
            margin-right: 20px;
            width: 50px;
          }
          // }
          // .projectsSkills::before {
          //   color: #2e835b;
          //   font-size: 200%;
          //   content: "<";
          //   margin-right: 5px;
          // }
          // .projectsSkills::after {
          //   color: #2e835b;
          //   font-size: 200%;
          //   content: "/>";
        }
        .card {
          background-color: #521b5875;
          border-radius: 5px;
          width: 100%;
          height: 100%;
          // width: 300px;
          // height: 400px;

          figure {
            background: #000;
            height: 31%;
            width: 100%;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .card-body {
            // padding: 0 20px;
            // padding: 25px 10px 10px 10px;
            .card-title {
              text-align: center;
              overflow: hidden;
            }

            button {
              color: #ffffff;
              padding: 0;
              border: none;
              border-bottom: 1px solid;
              border-radius: 0;
              line-height: 0;
              transition: all 0.2s ease-in-out;
              background-color: rgba(210, 180, 140, 0);
              img {
                width: 18px;
                margin: 10px;
              }
            }

            button:hover {
              // border-bottom-color: #0b061d;
              font-size: large;
            }
          }
        }
      }
    }
  }
}
