.projects {
  // background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #861f7f;
    margin: 5px;
    font-size: 50px;
  }

  ul {
    margin: 5px;
    margin-top: none;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: space-between;

    li {
      font-size: 18px;
      // margin: 10px 20px;
      padding: 10px 20px;
      // padding: 5px;
      // border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.active {
        background-color: #782981;
        color: white;
      }
    }

    li:hover {
      background-color: #782981;
    }
  }

  .wrapper {
    transition: all 0.3s ease-in-out;
    width: 1300px;
    position: relative;
    // background-color: red;
    top: 10px;
    height: max-content;
    overflow: hidden;
    display: flex;
    // flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    // padding: px;

    .projectsContainer {
      overflow: hidden;
      width: 100%;
      display: flex;
      // flex-wrap: wrap;
      align-content: center;
      justify-content: space-evenly;
      // padding: 15px;

      .projectCard {
        padding: 10px;
        position: relative;
        // padding: 15px 0;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        width: 280px;
        height: 455px;
        max-width: 280px;
        max-height: 455px;
        margin-bottom: 10px;

        .lamp {
          position: absolute;
          width: 120px;
          height: 68px;
          background-image: radial-gradient(
            ellipse,
            rgba(82, 116, 168, 0.5),
            rgba(82, 116, 168, 0.2) 25%,
            rgba(82, 116, 168, 0) 50%
          );
          top: 40vh;
          left: 98vh;
          transform: perspective(1px) rotateX(177deg);
        }
        .projectsSkills {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          overflow: hidden;
          // background-color: green;
          margin-bottom: 5px;

          img {
            margin-right: 20px;
            width: 50px;
          }
          // }
          // .projectsSkills::before {
          //   color: #2e835b;
          //   font-size: 200%;
          //   content: "<";
          //   margin-right: 5px;
          // }
          // .projectsSkills::after {
          //   color: #2e835b;
          //   font-size: 200%;
          //   content: "/>";
        }
        .card {
          background-color: #521b5875;
          border-radius: 5px;
          width: 100%;
          height: 100%;
          // width: 300px;
          // height: 400px;

          figure {
            background: #000;
            height: 31%;
            width: 100%;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .card-body {
            padding: 25px 10px 10px 10px;
            .card-title {
              text-align: center;
              overflow: hidden;
            }

            button {
              color: #ffffff;
              padding: 0;
              border: none;
              border-bottom: 1px solid;
              border-radius: 0;
              line-height: 0;
              transition: all 0.2s ease-in-out;
              background-color: rgba(210, 180, 140, 0);
              img {
                width: 18px;
                margin: 10px;
              }
            }

            button:hover {
              // border-bottom-color: #0b061d;
              font-size: large;
            }
          }
        }
      }
    }
  }
}
