.topBar {
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out 0s !important;
  backdrop-filter: blur(15px) !important;
  z-index: 2;
  overflow: hidden;

  .wrapper {
    height: inherit;
    // padding: 0px 30px;
    // display: flex;
    // align-items: center;
    // align-self: center;
    // justify-content: space-around;
    // background-color: aqua;

    .left {
      cursor: pointer;
      img {
        width: 108px;
        height: 39px;
      }
    }
    .middle {
      // background-color: bisque;
      display: flex;
      align-items: center;

      .itemContainer {
        margin: 0 50px;
        display: flex;
        align-items: center;

        .navItem {
          font-size: 20px;
          text-decoration: none;
          // background-color: blueviolet;
          color: whitesmoke;
          font-weight: bold;
          text-transform: capitalize;
        }

        .navItem::after {
          content: "";
          position: relative;
          display: block;
          height: 5px;
          width: 0;
          border-radius: 16px;
          background: #2e845c;
          bottom: 1px;
          z-index: -1;
          transition: all 0.3s ease-out 0s;
        }

        .selectedNavItem::after {
          width: 100%;
        }

        .navItem:hover::after {
          width: 100%;
        }
      }
    }

    .right {

      // background-color: rgb(33, 77, 62);
      .itemContainer {
        margin-right: 50px;

        display: flex;
        flex-direction: row;
        align-items: center;
        .navItem {
          font-size: 21px;
          text-decoration: none;
          // background-color: blueviolet;

          color: #33a778;
          font-weight: bold;
          text-transform: capitalize;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}
