.intro {
  // background-color: #370d8b;
  // background-image: linear-gradient(
  //   to bottom left,
  //   rgba(17, 16, 16, 0.678),
  //   rgba(12, 10, 22, 0.863)
  // );
  // padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .cursor{
    display: block;
    // --xx: 1065 - 110 + "px";
    // --yy: 234 - 170 + "px";
    left: var(--xx);
    top: var(--yy);


    transition:all 0.3s ease-out;
  }
  .next {
    // background-color: #2e835b;
    position: absolute;
    right: 80px;
    bottom: 80px;
    // align-self: flex-end;
    // margin-right: 20px;
    // display: flex;
    // justify-content: center;
  }

  .container {
    // background-color: #28db88;
    // max-width: revert;
    // height: 70%;
    height: 428.112px;
    max-height: 428.112px;
    // width: 80%;
    // width: 80%;
    // width: 1196.8px;
    max-width: 1196.8px;
    width: auto;
    // background-color: rgba(255, 255, 255, 0.1);
    // padding: 20px;
    // display: flex;
    // flex-direction: row;

    > * {
      display: flex;
      // justify-content: center;
    }
    .left {
      // flex: 0.5;
      // background-color: coral;
      overflow: hidden;
      display: flex;
      justify-content: center;
      // align-items: center;

      .imgContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        // align-items: center;
        // width: 500px;
        // height: 500px;
        // padding: 50px;
        // background-color: #2e845c;
        border-radius: 50%;
        // border: 2px dotted black;

        img {
          // height: 90%;
          // filter: grayscale(100%);
          border-radius: 25px;
        }
      }
    }

    .right {
      // flex: 0.5;
      position: relative;

      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      
      height: 100%;
      // background-color: aqua;
      .wrapper {
        // background-color: aquamarine;
        padding-left: 50px;
        // padding-top: 65%;
        justify-self: flex-end;
        position: relative;
        top: 60px;
        @media (max-width: 1024px){
          top: 0px;
        }

        h1 {
          font-size: 60px;
          margin: 10px 0 5px 10px;
          text-transform: uppercase;
          font-weight: bolder;
          
          // color: #ffffff;
          @media (max-width: 1024px){
            font-size: 30px;
          }

          .ColoredLetter{
            overflow: hidden;
            // display: inline-block;
            color:#2e845c;
            font-family: 'Old English Five', sans-serif;
            font-size: 45px;
            vertical-align: text-top;

            background: 
            radial-gradient(circle 110px 
                            at var(--x,0) var(--y,0), 
                            #2e845c00 99%,#2e845c 100%) 
                            fixed;
          background-clip: text;
          -webkit-background-clip: text;
          color:transparent;
          // -webkit-text-fill-color: transparent;

            @media (max-width: 1024px){
              font-size: 23px;
            }
          }
        }

        .templar{
          background: 
          radial-gradient(circle 110px 
                          at var(--x,0) var(--y,0), 
                          #842e2e00 99%,rgb(255, 255, 255) 100%) 
                          fixed;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
        -webkit-text-fill-color: transparent;
        }

        h1.hiddenOne{
          cursor: none;

          background: 
          radial-gradient(circle 110px 
                          at var(--xxx,0) var(--yyy,0), 
                          #180d30 99%,#ffffff00 100%) 
                          fixed;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
        -webkit-text-fill-color: transparent;
        }


        h2 {
          font-style: italic;
          color: rgb(143, 142, 142);
          font-size: 20px;
          text-transform: capitalize;
        }
        h2 > span {
          justify-content: center;
          margin: 0 auto;
          font-size: 1.2em;
        }

        h3 {
          font-size: 24px;
          font-weight: 500;
          margin-left: 10px;
          margin-left: 70px;
          text-transform: uppercase;
          color: #2e845c;
          margin-bottom: 20px;

          @media (max-width: 1024px){
            font-size: 14px;
            margin-left: 40px;
          }

          span {
            font-size: 25px;

            @media (max-width: 1024px){
              font-size: 15px;
            }
          }
          .templarSpan{
            // background: 
            //   radial-gradient(circle 110px 
            //                   at var(--xTemplarH3,0) var(--yTemplarH3,0), 
            //                   #180d30 99%,rgb(255, 255, 255) 100%) 
            //                   fixed;
            // background-clip: text;
            // -webkit-background-clip: text;
            // color:transparent;
            // -webkit-text-fill-color: transparent;
          }
          img {
            filter: invert(44%) sepia(62%) saturate(373%) hue-rotate(99deg)
              brightness(86%) contrast(97%);
            display: revert;
            width: 35px;
            height: 25px;
            @media (max-width: 1024px){
              width: 18px;
              height: 14px;
            }
          }
        }

        h3.templarH3{
          background: 
            radial-gradient(circle 116px 
                            at var(--xTemplarH3,0) var(--yTemplarH3,0), 
                            #180d30 99%,#2e845c 100%) 
                            fixed;
          background-clip: text;
          -webkit-background-clip: text;
          color:transparent;
          -webkit-text-fill-color: transparent;
        }
      }

      .pAboutMe {
        margin-top: 5px;
        display: flex;
        // background-color: aliceblue;
        position: relative;
        bottom: -40px;
        justify-self: flex-end;
        padding: 5px;
        margin-bottom: 20px;

        p {
          // margin-left: 10px;
          width: 550px;
          font-weight: 300;
          word-spacing: 1px;
          font-size: 16px;
          word-wrap: break-word;
          color: #fff !important;

          code {
            color: #2e835b;
            font-weight: bolder;
            font-size: 19px;
            word-spacing: -1px;
          }
        }
      }

      .socialLinks {
        // align-self: flex-end;
        // justify-self: flex-end;
        // margin-top: 15px;
        align-self: flex-end;
        @media (max-width: 1024px){
        align-self: center;
        }
        div {
          margin: 10px;
          a {
            height: fit-content;
            padding: 0;
            cursor: pointer;
            color: #2e845c;
            // color: #6a71d8;


            svg {
              width: 40px;
              height: 40px;
              padding:0;
              transition: color 3s ease;
            }
            svg.credly {
              width: 60px;
              height: 60px;
            }
          }

          a.linkedin{
            svg{
              width: 45px;
              height: 45px;

            }
          }
          a.linkedin :hover{
            color: #0c89cc;
            transition: color 0.2s linear;

          }
          a.github :hover{
            color: #2858db;
            transition: color 0.2s linear;

          }
          a.email :hover{
            color: #2858db;
            transition: color 0.2s linear;

          }
        }

        
      }
    }
  }
}
